In [30]:
import pandas as pd

In [31]:
df_slogan = pd.read_csv('./datasets/slogans.csv')
df_slogan.head(20)

,company,slogan
0,"Eggland’s Best, farm fresh eggs",Better taste. Better nutrition. Better eggs.
1,"Eggland’s Best, farm fresh eggs",It's EB.
2,"Egg Beaters products, egg whites separated fro...",The real thing. Only better.
3,"Egg Beaters products, egg whites separated fro...",Egg Beaters. Unbeatable.
4,"Egg Beaters products, egg whites separated fro...",The egg perfected.
5,"Egg Beaters products, egg whites separated fro...",Taste the healthy side of eggs.
6,Crystal Farms liquid egg products,Because breakfast matters.
7,"The Happy Egg Company, brand of free range eggs",Happy hens lay really tasty eggs.
8,"The Happy Egg Company, brand of free range eggs",Happy hens lay tasty eggs.
9,"The Happy Egg Company, brand of free range eggs",The chicken always come first.
10,"Great Day Farms, brand of eggs",May possible by the egg.
11,"Great Day Farms, brand of eggs",Making healthy lifestyles possible.
12,"Great Day Farms, brand of eggs",Because healthy shouldn't be hard.
13,Goldrich eggs,"Goldrich. Means rich, golden yolks."
14,Goldrich eggs,"If the egg is Goldrich, the yolk is golden."
15,"AllWhites, brand of liquid egg whites",AllWhites. A perfect protein.
16,Naturegg eggs in Canada,It's not just any egg. It's Naturegg.
17,Nestle food company,"Nestle. Good Food, Good Life."
18,"ConAgra Foods, food company",ConAgra. The right kind of food company.
19,Heinz food company,Heinz. Good Food Every Day.

In [32]:
df = pd.read_csv('./datasets/company_and_copy2.csv')
df.head(20)

    Unnamed: 0            company                         copy category
0            0                그린카              그린카로 그리는 일상콘텐츠      정보통신
1            1  24시간 콘텐츠 스토어, 웨이브                    웨이브에 있었어      정보통신
2            2    삼성카드 카카오페이 신용카드          귀여운 디자인에 그렇지 않은 혜택      정보통신
3            3           벼룩시장 모바일                    Good Job      정보통신
4            4                 민팃      당신의 중고폰 서랍 속에서, 민팃 속으로      정보통신
5            5     Play on, 구글플레이              당신의 플레이가 계속되도록      정보통신
6            6                더체크                800만 사장님 필수앱      정보통신
7            7          배달의민족 B마트                   장보기도 즉시배달      정보통신
8            8             LG유플러스  누구도 배움에서 소외되지 않도록 일상을 바꿉니다      정보통신
9            9                  음       음으로 시작하는 크고 작은 모든 이야기      정보통신
10          10               뮤직카우              음악이라는 기업을 키웁니다      정보통신
11          11                아이엠     가장 프라이빗하면서도 세상 프리미엄한 이동      정보통신
12          12              스포티파이                나보다 날 더 잘 아는      정보통신
13          13                 크몽                 전문가가 필요한 순간      정보통신
14          14               랜덤투유                     5천원의 행복      정보통신
15          15                바닐라           투자가 이렇게 쉽고 달콤했던가?      정보통신
16          16            윌라 오디오북                 ‘귀’깔나게 독서하다      정보통신
17          17                이어카       내 차를 이어주고 이어받는 새로운 방법      정보통신
18          18               바나나톡                   코인생활의 첫시작      정보통신
19          19               경리나라               경리나라는 정말 쉽습니다      정보통신

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11053 entries, 0 to 11052
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11053 non-null  int64
 1   company     11053 non-null  object
 2   copy        11053 non-null  object
 3   category    11053 non-null  object
dtypes: int64(1), object(3)
memory usage: 345.5+ KB

In [35]:
# 텍스트 파일 생성
slogan = df['copy'].unique()  
slogan

one_slogan = ' '.join(slogan)
one_slogan

with open('./test_txt/ko_test_text.txt','w',encoding='UTF-8') as f:
    for name in slogan:
        f.write(name+'\n')
with open('./test_txt/ko_test_one_slogan.txt','w',encoding='UTF-8') as f:
    for name in one_slogan:
        f.write(name)

In [36]:
df = pd.read_csv('./datasets/company_and_copy2.csv')
df.head()

   Unnamed: 0            company                     copy category
0           0                그린카          그린카로 그리는 일상콘텐츠      정보통신
1           1  24시간 콘텐츠 스토어, 웨이브                웨이브에 있었어      정보통신
2           2    삼성카드 카카오페이 신용카드      귀여운 디자인에 그렇지 않은 혜택      정보통신
3           3           벼룩시장 모바일                Good Job      정보통신
4           4                 민팃  당신의 중고폰 서랍 속에서, 민팃 속으로      정보통신

In [37]:
df =df.rename(columns={'copy':'slogan'})

In [38]:
df2 = df[['company', 'slogan']]
df2.head()

             company                   slogan
0                그린카          그린카로 그리는 일상콘텐츠
1  24시간 콘텐츠 스토어, 웨이브                웨이브에 있었어
2    삼성카드 카카오페이 신용카드      귀여운 디자인에 그렇지 않은 혜택
3           벼룩시장 모바일                Good Job
4                 민팃  당신의 중고폰 서랍 속에서, 민팃 속으로

In [40]:
df2.to_csv('./datasets/ko_slogan_test1.csv', index = None)
df2.head()

             company                   slogan
0                그린카          그린카로 그리는 일상콘텐츠
1  24시간 콘텐츠 스토어, 웨이브                웨이브에 있었어
2    삼성카드 카카오페이 신용카드      귀여운 디자인에 그렇지 않은 혜택
3           벼룩시장 모바일                Good Job
4                 민팃  당신의 중고폰 서랍 속에서, 민팃 속으로

In [41]:
df = pd.read_csv('./datasets/company_and_copy_edit2.csv')
df.head()

             company                     copy category
0                그린카          그린카로 그리는 일상콘텐츠      정보통신
1  웨이브, 24시간 콘텐츠 스토어                웨이브에 있었어      정보통신
2    삼성카드 카카오페이 신용카드      귀여운 디자인에 그렇지 않은 혜택      정보통신
3           벼룩시장 모바일                Good Job      정보통신
4                 민팃  당신의 중고폰 서랍 속에서, 민팃 속으로      정보통신

In [43]:
df = pd.read_csv('./datasets/company_and_copy_edit2.csv')
df =df.rename(columns={'copy':'slogan'})
df2 = df[['company', 'slogan']]
df2.to_csv('./datasets/ko_slogan_test2.csv', index = None)
df2.head()

             company                   slogan
0                그린카          그린카로 그리는 일상콘텐츠
1  웨이브, 24시간 콘텐츠 스토어                웨이브에 있었어
2    삼성카드 카카오페이 신용카드      귀여운 디자인에 그렇지 않은 혜택
3           벼룩시장 모바일                Good Job
4                 민팃  당신의 중고폰 서랍 속에서, 민팃 속으로